.product {
    width: 100%;
    text-align: center;
    display: inline-block;   
}
.detail{
   text-align: center;
   display: inline-block;
   font-size: large;
}
.buy {
    display: inline-block;
}
.buy button {
    background-color:#4D0000;
    color: white;
    font-size: x-large;
    border-radius: 10px;
    border: solid black 3px;
}
#calculate {
    margin-left: 40%;
    font-size: xx-large;
    background-color: #007500;
    border-radius: 10px;
    color: white;
}

